@import '~normalize.css/normalize.css';
@import '~react-multi-carousel/lib/styles.css';
@import './base/index.scss';
@import './components/index.scss';
$secondary: #ff4a16;

.gasgasgas {
  justify-content: space-between;
  background-color: red;
  transition: ease-out;
}

$primary: #C2D2F2;
$secondary: #327AD9;
$tertiary: #590e81;
$quaternary: #520ab0;
$hover: #2a0657;
$white: #ffffff;
$black: #000000;
